/* CSS transitions */
a, li {
  transition: all 0.25s cubic-bezier(0.64, 0.2, 0.02, 0.35);
  -webkit-transition: all 0.25s cubic-bezier(0.64, 0.2, 0.02, 0.35); }

img {
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.2, 0.02, 0.35);
  transition: all 0.3s cubic-bezier(0.64, 0.2, 0.02, 0.35);
  -webkit-transition: all 0.4s cubic-bezier(0.64, 0.2, 0.02, 0.35); }

input, textarea, button, label, option, select, .button, .hndle {
  transition: all 0.25s cubic-bezier(0.64, 0.2, 0.02, 0.35);
  -webkit-transition: all 0.25s cubic-bezier(0.64, 0.2, 0.02, 0.35); }

/* End Transitions */
/* Variables */
/* styles */
html {
  position: absolute;
  height: 100%;
  width: 100%; }

body {
  position: absolute;
  /* -webkit-text- ; */
  width: 100%;
  min-height: 100% !important;
  -webkit-font-smoothing: antialiased; }

.container-row {
  padding-top: 40px;
  position: absolute;
  min-height: 100%;
  width: 100%; }

textarea, input, button {
  outline: none !important; }

.badge-primary {
  background-color: #57d9a3; }

.ui-icon {
  padding-top: 8px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #444;
  font-weight: 500;
  user-select: false; }
  .ui-icon :hover {
    color: #f8f8f8; }

.unsaved:after {
  content: "*"; }

#titlebar {
  position: fixed;
  padding: 8px 0;
  width: 100%;
  background-color: #57d9a3;
  color: #fff;
  text-align: center;
  cursor: default;
  user-select: none;
  -webkit-app-region: drag;
  z-index: 9999; }
  #titlebar #edittitle {
    display: inline;
    font-weight: 600; }
  #titlebar #title {
    font-weight: 600; }
  #titlebar #cancel-button {
    float: left;
    padding-left: 16px; }
  #titlebar #options-buttons {
    float: right;
    padding-right: 16px; }

#tab-bar {
  width: 100%;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto; }
  #tab-bar .nav-link {
    font-weight: 500;
    background-color: transparent;
    user-select: none; }
  #tab-bar #saveClose {
    display: block; }

#full-editor {
  display: none; }
  #full-editor #editorFooter {
    padding-left: 16px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #f0f0f0;
    color: #aaa; }

#editors {
  position: relative;
  background-color: #fff;
  height: 100%;
  width: 100%; }

#sidebar {
  margin-top: 0 !important;
  min-height: 100% !important;
  background-color: #f8f8f8;
  border-right: 1px solid #ddd; }
  #sidebar #sidebartitle {
    -webkit-app-region: drag;
    padding: 8px 32px;
    width: 100%;
    background-color: #57d9a3;
    color: #fff;
    text-align: center; }
  #sidebar #searchPages {
    width: 100%;
    margin-top: 8px !important;
    margin-bottom: 8px;
    margin-left: 20px;
    margin-right: 20px !important; }
  #sidebar #resultsButton {
    display: none !important; }
  #sidebar h6 {
    display: inline;
    font-weight: 600; }
  #sidebar .list-group-item {
    background: #f3f3f3;
    color: #696969;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 500; }
  #sidebar .item-list {
    list-style-type: none;
    padding-left: 0;
    word-wrap: none;
    overflow-x: hidden !important; }
    #sidebar .item-list li {
      width: 100%;
      height: 100%;
      padding: 5px 32px 6px 32px;
      margin-left: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      font-size: .95rem;
      font-weight: 500; }
      #sidebar .item-list li:hover {
        background-color: #eee; }
      #sidebar .item-list li a {
        position: relative;
        width: 100%;
        height: 100%;
        color: #696969;
        user-select: none; }
        #sidebar .item-list li a:hover {
          text-decoration: none;
          color: #444; }

#toolbar {
  padding: 0 auto;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #f4f4f4;
  border-top: none;
  border-right: none;
  border-left: none;
  /* background-color: #f6f6f6; */ }

#editor {
  padding: 16px;
  border: none !important; }

#metadata {
  display: none;
  padding: 32px;
  border: none !important; }
  #metadata #date {
    width: 200px; }

#code {
  display: none;
  height: calc(100% - 48px); }
  #code #codetext {
    border: 0;
    outline: 0;
    padding: 32px;
    width: 100%;
    height: 100%;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: .8rem;
    font-weight: 300;
    color: #666; }

#preview {
  display: none; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

@media only screen and (max-width: 768px) {
  .container-row {
    position: relative; } }

/*# sourceMappingURL=main.css.map */
